section.cta-v1(itemscope itemtype="https://schema.org/ItemList")
  .wrapper
    .cta-v1__wrapper
      .cta-v1__item(
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
      )
        meta(content="1" itemprop="position")
        meta(
          content="Let's find more that brings us together."
          itemprop="name"
        )
        link(href="#" itemprop="mainEntityOfPage")
        .cta-v1__image(
          itemprop="image"
          itemscope
          itemtype="https://schema.org/ImageObject"
        )
          img(
            src="#"
            alt="Let's find more that brings us together."
            itemprop="url contentUrl"
          )
        .cta-v1__content
          .cta-v1__header
            h2.cta-v1__title(itemprop="headline") Let's find more that brings us together.
          .cta-v1__footer
            .cta-v1__text(itemprop="description") Flowbite helps you connect with friends, family and communities of people who share your interests. Connecting with your friends and family as well as discovering new ones is easy with features like Groups.
            a.cta-v1__button.cta-v1__button-blue(
              href="#"
              itemprop="potentialAction"
              itemscope
              itemtype="https://schema.org/Action"
            )
              span(itemprop="name") Learn more
              svg(
                aria-hidden="true"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              )
                path(
                  d="M14 5L21 12M21 12L14 19M21 12H3"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
              meta(content="#" itemprop="url")
      .cta-v1__item(
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
      )
        meta(content="2" itemprop="position")
        meta(
          content="Let's find more that brings us together."
          itemprop="name"
        )
        link(href="#" itemprop="mainEntityOfPage")
        .cta-v1__image(
          itemprop="image"
          itemscope
          itemtype="https://schema.org/ImageObject"
        )
          img(
            src="#"
            alt="Let's find more that brings us together."
            itemprop="url contentUrl"
          )
        .cta-v1__content
          .cta-v1__header
            h2.cta-v1__title(itemprop="headline") Let's find more that brings us together.
          .cta-v1__footer
            .cta-v1__text(itemprop="description") Flowbite helps you connect with friends, family and communities of people who share your interests. Connecting with your friends and family as well as discovering new ones is easy with features like Groups.
            a.cta-v1__button.cta-v1__button-blue(
              href="#"
              itemprop="potentialAction"
              itemscope
              itemtype="https://schema.org/Action"
            )
              span(itemprop="name") Learn more
              svg(
                aria-hidden="true"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              )
                path(
                  d="M14 5L21 12M21 12L14 19M21 12H3"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
              meta(content="#" itemprop="url")
      .cta-v1__item(
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
      )
        meta(content="3" itemprop="position")
        meta(
          content="Let's find more that brings us together."
          itemprop="name"
        )
        link(href="#" itemprop="mainEntityOfPage")
        .cta-v1__image(
          itemprop="image"
          itemscope
          itemtype="https://schema.org/ImageObject"
        )
          img(
            src="#"
            alt="Let's find more that brings us together."
            itemprop="url contentUrl"
          )
        .cta-v1__content
          .cta-v1__header
            h2.cta-v1__title(itemprop="headline") Let's find more that brings us together.
          .cta-v1__footer
            .cta-v1__text(itemprop="description") Flowbite helps you connect with friends, family and communities of people who share your interests. Connecting with your friends and family as well as discovering new ones is easy with features like Groups.
            a.cta-v1__button.cta-v1__button-blue(
              href="#"
              itemprop="potentialAction"
              itemscope
              itemtype="https://schema.org/Action"
            )
              span(itemprop="name") Learn more
              svg(
                aria-hidden="true"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              )
                path(
                  d="M14 5L21 12M21 12L14 19M21 12H3"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
              meta(content="#" itemprop="url")
    .cta-v1__pagination