mixin header(currentPage)
  header.header
    .wrapper
      nav.header__menu
        a.menu__link(class=currentPage === "main" ? "active" : "" href="/") Главная
        a.menu__link(class=currentPage === "blog" ? "active" : "" href="/blog/") Блог
        a.menu__link(class=currentPage === "post" ? "active" : "" href="/blog/post/") Запись
        a.menu__link(
          class=currentPage === "post2" ? "active" : ""
          href="/blog/post2/"
        ) Запись 2
        a.menu__link(class=currentPage === "404" ? "active" : "" href="/404/") 404
