mixin price(data = {})
  - const { defaults, mergeConfig } = require("@defaults/price-v1/_defaults");
  - const modefied = mergeConfig(data, defaults);

  .price-v1(
    class=modefied.tag ? "price-v1-popular" : ""
    itemscope
    itemtype="https://schema.org/Offer"
  )
    if modefied.tag
      .price-v1__tag(
        itemprop="category"
      )= modefied.tag
    .price-v1__title(
      itemprop="name"
    )= modefied.title
    .price-v1__price(
      data-price=modefied.priceSecondary
      itemprop="price"
      content=modefied.price.replace('$', '')
    )
      span(
        itemprop="priceCurrency"
        content="USD"
      )= modefied.price
    .price-v1__description(
      itemprop="priceSpecification"
    )= modefied.description
    a.price-v1__link(
      href=modefied.link.href
      target=modefied.link.target
      itemprop="url"
    )
      span= modefied.link.text
      svg(
        fill="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
      )
        path(
          d="M14 5L21 12M21 12L14 19M21 12H3"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        )
    a.price-v1__button(
      href=modefied.button.href
      target=modefied.button.target
      itemprop="url"
    )= modefied.button.text
    ul.price-v1__advantages(
      itemprop="description"
    )
      each item in modefied.items
        li.price-v1__advantage(
          class=item.isDisabled ? "price-v1__advantage-disabled" : ""
        )
          != item.icon
          span= item.text