section.customer-logos-v1
  .wrapper
    .customer-logos-v1__wrapper
      .customer-logos-v1__heading
        h2 You’ll be in good company
        .customer-logos-v1__logos 
          .customer-logos-v1__logo
            img(src=require("@images/logos/shell.svg"), alt="logo")
          .customer-logos-v1__logo
            img(src=require("@images/logos/zoom.svg"), alt="logo")
          .customer-logos-v1__logo
            img(src=require("@images/logos/zapier.svg"), alt="logo")
          .customer-logos-v1__logo.customer-logos-v1__logo-chameleon
            img(src=require("@images/logos/disney.svg"), alt="logo")
          .customer-logos-v1__logo
            img(src=require("@images/logos/intel.svg"), alt="logo")
          .customer-logos-v1__logo
            img(src=require("@images/logos/twitch.svg"), alt="logo")