mixin member(data = {})
  - const { defaults, mergeConfig } = require("@defaults/member-v1/_defaults");
  - const modefied = mergeConfig(data, defaults);
  - if (!modefied.links) modefied.links = [];

  .swiper-slide
    .member-v1(
      itemscope
      itemtype="https://schema.org/Person"
    )
      .member-v1__content
        .member-v1__image
          img(
            src=modefied.image.src
            alt="member"
            itemprop="image"
          )
        h3.member-v1__title(
          itemprop="name"
        )= modefied.title
        .member-v1__role(
          itemprop="jobTitle"
        )= modefied.role
        p.member-v1__description(
          itemprop="description"
        )= modefied.description
      .member-v1__links
        each link in modefied.links
          a.member-v1__link(
            href="#"
            target="_blank"
            rel="noopener"
            itemprop="sameAs"
          ) !{link.icon}