section.blog-v1(
  itemscope
  itemtype="https://schema.org/BlogPage"
)
  meta(itemprop="name" content="Our Blog")
  meta(itemprop="description" content="We use an agile approach to test assumptions and connect with the needs of your audience early and often.")
  .wrapper
    .blog-v1__wrapper
      .blog-v1__heading
        h2 Our Blog
        p We use an agile approach to test assumptions and connect with the needs of your audience early and often.
      .blog-v1__slider(
        itemprop="mainEntity"
        itemscope
        itemtype="https://schema.org/ItemList"
      )
        meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending")
        .swiper.swiper-blog
          .swiper-wrapper
            .swiper-slide(
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            )
              meta(itemprop="position" content="1")
              article.blog-v1__article(
                itemprop="item"
                itemscope
                itemtype="https://schema.org/Article"
              )
                meta(itemprop="mainEntityOfPage" content="#")
                meta(itemprop="datePublished" content="2026-01-01")
                meta(itemprop="dateModified" content="2026-01-01")
                .blog-v1__image
                  img(
                    src="#"
                    alt="Our first office"
                    itemprop="image"
                  )
                .blog-v1__content
                  .blog-v1__header
                    .blog-v1__tag
                      span(itemprop="articleSection") Article
                    h2.blog-v1__title(itemprop="headline") Our first office
                    p.blog-v1__description(itemprop="description") Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.
                  .blog-v1__footer
                    .blog-v1__date
                      svg(
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                      )
                        path(
                          d="M8 7V3M16 7V3M7 11H17M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21Z"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        )
                      time(datetime="2026-01-01" itemprop="datePublished") 01.01.2026
                    a.blog-v1__button(
                      href="#"
                      itemprop="potentialAction"
                      itemscope
                      itemtype="https://schema.org/ReadAction"
                    )
                      span(itemprop="name") Read more
                      meta(itemprop="target" content="#")
            .swiper-slide(
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            )
              meta(itemprop="position" content="1")
              article.blog-v1__article(
                itemprop="item"
                itemscope
                itemtype="https://schema.org/Article"
              )
                meta(itemprop="mainEntityOfPage" content="#")
                meta(itemprop="datePublished" content="2026-01-01")
                meta(itemprop="dateModified" content="2026-01-01")
                .blog-v1__image
                  img(
                    src="#"
                    alt="Our first office"
                    itemprop="image"
                  )
                .blog-v1__content
                  .blog-v1__header
                    .blog-v1__tag
                      span(itemprop="articleSection") Article
                    h2.blog-v1__title(itemprop="headline") Our first office
                    p.blog-v1__description(itemprop="description") Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.
                  .blog-v1__footer
                    .blog-v1__date
                      svg(
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                      )
                        path(
                          d="M8 7V3M16 7V3M7 11H17M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21Z"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        )
                      time(datetime="2026-01-01" itemprop="datePublished") 01.01.2026
                    a.blog-v1__button(
                      href="#"
                      itemprop="potentialAction"
                      itemscope
                      itemtype="https://schema.org/ReadAction"
                    )
                      span(itemprop="name") Read more
                      meta(itemprop="target" content="#")
            .swiper-slide(
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            )
              meta(itemprop="position" content="1")
              article.blog-v1__article(
                itemprop="item"
                itemscope
                itemtype="https://schema.org/Article"
              )
                meta(itemprop="mainEntityOfPage" content="#")
                meta(itemprop="datePublished" content="2026-01-01")
                meta(itemprop="dateModified" content="2026-01-01")
                .blog-v1__image
                  img(
                    src="#"
                    alt="Our first office"
                    itemprop="image"
                  )
                .blog-v1__content
                  .blog-v1__header
                    .blog-v1__tag
                      span(itemprop="articleSection") Article
                    h2.blog-v1__title(itemprop="headline") Our first office
                    p.blog-v1__description(itemprop="description") Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.
                  .blog-v1__footer
                    .blog-v1__date
                      svg(
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                      )
                        path(
                          d="M8 7V3M16 7V3M7 11H17M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21Z"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        )
                      time(datetime="2026-01-01" itemprop="datePublished") 01.01.2026
                    a.blog-v1__button(
                      href="#"
                      itemprop="potentialAction"
                      itemscope
                      itemtype="https://schema.org/ReadAction"
                    )
                      span(itemprop="name") Read more
                      meta(itemprop="target" content="#")
            .swiper-slide(
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            )
              meta(itemprop="position" content="1")
              article.blog-v1__article(
                itemprop="item"
                itemscope
                itemtype="https://schema.org/Article"
              )
                meta(itemprop="mainEntityOfPage" content="#")
                meta(itemprop="datePublished" content="2026-01-01")
                meta(itemprop="dateModified" content="2026-01-01")
                .blog-v1__image
                  img(
                    src="#"
                    alt="Our first office"
                    itemprop="image"
                  )
                .blog-v1__content
                  .blog-v1__header
                    .blog-v1__tag
                      span(itemprop="articleSection") Article
                    h2.blog-v1__title(itemprop="headline") Our first office
                    p.blog-v1__description(itemprop="description") Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.
                  .blog-v1__footer
                    .blog-v1__date
                      svg(
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                      )
                        path(
                          d="M8 7V3M16 7V3M7 11H17M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21Z"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        )
                      time(datetime="2026-01-01" itemprop="datePublished") 01.01.2026
                    a.blog-v1__button(
                      href="#"
                      itemprop="potentialAction"
                      itemscope
                      itemtype="https://schema.org/ReadAction"
                    )
                      span(itemprop="name") Read more
                      meta(itemprop="target" content="#")
          .swiper-pagination