doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#da532c" name="msapplication-TileColor")
    meta(content="#ffffff" name="theme-color")

    block basicSeo
      meta(content="Страница сайта" name="description")
      meta(content="Страница сайта" name="keywords")
      meta(content="wotkad" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="" name="twitter:image")

    meta(content="Страница сайта" property="og:title")
    meta(content="" property="og:description")
    meta(content="" property="og:image")

    link(
      href=require("@images/favicons/apple-touch-icon.png")
      rel="apple-touch-icon"
      sizes="180x180"
    )
    link(
      href=require("@images/favicons/android-chrome-192x192.png")
      rel="icon"
      sizes="192x192"
      type="image/png"
    )
    link(
      href=require("@images/favicons/favicon-32x32.png")
      rel="icon"
      sizes="32x32"
      type="image/png"
    )
    link(
      href=require("@images/favicons/favicon-16x16.png")
      rel="icon"
      sizes="16x16"
      type="image/png"
    )
    link(href=require("@images/favicons/favicon.ico") rel="shortcut icon")
    link(
      color="#5bbad5"
      href=require("@images/favicons/safari-pinned-tab.svg")
      rel="mask-icon"
    )

    block title
      title Rise | Страница без названия

    link(href=manifestPath rel="manifest" crossorigin)

  body
    .render

    include @p-mixins/title
    include @p-mixins/article

    include @p-components/header

    block content

    block js