doctype html
html(lang='ru')
  head

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='wotkad')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image', content='')
    meta(property='og:type', content='website')

    link(rel='apple-touch-icon', sizes='180x180', href=require('/assets/images/favicons/apple-touch-icon.png'))
    link(rel='icon', type='image/png', sizes='192x192', href=require('/assets/images/favicons/android-chrome-192x192.png'))
    link(rel='icon', type='image/png', sizes='32x32', href=require('/assets/images/favicons/favicon-32x32.png'))
    link(rel='icon', type='image/png', sizes='16x16', href=require('/assets/images/favicons/favicon-16x16.png'))
    link(rel='shortcut icon', href=require('/assets/images/favicons/favicon.ico'))
    link(rel="mask-icon", href="/assets/images/favicons/safari-pinned-tab.svg", color="#5bbad5")

    block title
      title Rise | Untitled page

    block manifestBrowserconfigFiles
      link(rel='manifest', href='./manifest.json', crossorigin)
      meta(name='msapplication-config' content='./browserconfig.xml')
      
  body

    script.
        function autorun() {}
          if (window.addEventListener) window.addEventListener('load', autorun, false)
          else window.onload = autorun
    noscript.
        Hey, you have JavaScript disabled, that's why you can see this message.
    .render

    include ../components/header.pug
    
    block content

    include ../components/footer.pug

    block js