header.header-v1.header-offset(
  constructor-component
  itemscope
  itemtype="https://schema.org/WPHeader"
)
  .wrapper
    .header-v1__wrapper
      .header-v1__left(itemscope itemtype="https://schema.org/Organization")
        a.header-v1__logo.close-burger(
          href="/"
          aria-label="logo"
          itemprop="url"
        )
          img(
            src=require("@images/components/header-v1/google.svg")
            alt="logo"
            itemprop="logo"
          )
      .header-v1__right
        nav.nav(
          aria-label="menu"
          itemscope
          itemtype="https://schema.org/SiteNavigationElement"
        )
          .wrapper
            .nav__wrapper
              a.header-v1__link.close-burger(href="#" itemprop="url") Company
              a.header-v1__link.close-burger(href="#" itemprop="url") Marketplace
              a.header-v1__link.close-burger(href="#" itemprop="url") Features
              a.header-v1__link.close-burger(href="#" itemprop="url") Team
              a.header-v1__link.close-burger(href="#" itemprop="url") Contact
            .header-v1__controls
              a.header-v1__button.header-v1__button-mob(
                href="#"
                itemprop="url"
                itemscope
                itemtype="https://schema.org/Action"
              ) Log in
              a.header-v1__button.header-v1__button-blue.header-v1__button-mob(
                href="#"
                itemprop="url"
                itemscope
                itemtype="https://schema.org/Action"
              ) Get started
        .header-v1__controls
          a.header-v1__button(
            href="#"
            itemprop="url"
            itemscope
            itemtype="https://schema.org/Action"
          ) Log in
          a.header-v1__button.header-v1__button-blue(
            href="#"
            itemprop="url"
            itemscope
            itemtype="https://schema.org/Action"
          ) Get started
          button.header-v1__theme.theme-toggle(
            type="button"
            aria-label="toggle"
            aria-pressed="false"
          )
            .header-v1__theme-light
              svg(
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              )
                path(
                  clip-rule="evenodd"
                  d="M12 2C12.5523 2 13 2.44772 13 3V5C13 5.55228 12.5523 6 12 6C11.4477 6 11 5.55228 11 5V3C11 2.44772 11.4477 2 12 2ZM4.92889 4.92889C5.31942 4.53837 5.95258 4.53837 6.34311 4.92889L7.75711 6.34289C8.14763 6.73342 8.14763 7.36658 7.75711 7.75711C7.36658 8.14763 6.73342 8.14763 6.34289 7.75711L4.92889 6.34311C4.53837 5.95258 4.53837 5.31942 4.92889 4.92889ZM19.0711 4.92889C19.4616 5.31942 19.4616 5.95258 19.0711 6.34311L17.6571 7.75711C17.2666 8.14763 16.6334 8.14763 16.2429 7.75711C15.8524 7.36658 15.8524 6.73342 16.2429 6.34289L17.6569 4.92889C18.0474 4.53837 18.6806 4.53837 19.0711 4.92889ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM2 12C2 11.4477 2.44772 11 3 11H5C5.55228 11 6 11.4477 6 12C6 12.5523 5.55228 13 5 13H3C2.44772 13 2 12.5523 2 12ZM18 12C18 11.4477 18.4477 11 19 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H19C18.4477 13 18 12.5523 18 12ZM7.75711 16.2429C8.14763 16.6334 8.14763 17.2666 7.75711 17.6571L6.34311 19.0711C5.95258 19.4616 5.31942 19.4616 4.92889 19.0711C4.53837 18.6806 4.53837 18.0474 4.92889 17.6569L6.34289 16.2429C6.73342 15.8524 7.36658 15.8524 7.75711 16.2429ZM16.2429 16.2429C16.6334 15.8524 17.2666 15.8524 17.6571 16.2429L19.0711 17.6569C19.4616 18.0474 19.4616 18.6806 19.0711 19.0711C18.6806 19.4616 18.0474 19.4616 17.6569 19.0711L16.2429 17.6571C15.8524 17.2666 15.8524 16.6334 16.2429 16.2429ZM12 18C12.5523 18 13 18.4477 13 19V21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21V19C11 18.4477 11.4477 18 12 18Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                )
            .header-v1__theme-dark
              svg(
                fill="none"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
              )
                path(
                  d="M15.292 10.586C13.8105 11.2561 12.16 11.4589 10.5604 11.1673C8.96073 10.8757 7.48798 10.1036 6.33822 8.95387C5.18847 7.80407 4.41637 6.33127 4.12477 4.73163C3.83318 3.132 4.03594 1.48149 4.70604 0C3.52661 0.53301 2.49408 1.3442 1.69705 2.36396C0.900018 3.38372 0.362268 4.58162 0.129948 5.85489C-0.102372 7.12815 -0.0223322 8.43877 0.363198 9.67427C0.748728 10.9099 1.42825 12.0334 2.34345 12.9486C3.25864 13.8638 4.38221 14.5433 5.61774 14.9289C6.85327 15.3144 8.16393 15.3944 9.43713 15.1621C10.7104 14.9298 11.9083 14.3921 12.9281 13.595C13.9478 12.798 14.759 11.7655 15.292 10.586Z"
                  fill="currentColor"
                )
        button.header-v1__burger.burger(
          type="button"
          aria-controls="mobile-menu"
          aria-expanded="false"
          aria-label="open"
        )
          svg(
            aria-hidden="true"
            viewBox="0 0 16 14"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="14"
          )
            rect(fill="#1F2937" rx="1" width="16" height="2")
            rect(fill="#1F2937" rx="1" y="6" width="16" height="2")
            path(
              d="M0 13C0 12.4477 0.447715 12 1 12H15C15.5523 12 16 12.4477 16 13V13C16 13.5523 15.5523 14 15 14H1C0.447715 14 0 13.5523 0 13V13Z"
              fill="#1F2937"
            )