section.customer-logos-v1(
  itemscope
  itemtype="https://schema.org/Organization"
)
  .wrapper
    .customer-logos-v1__wrapper
      .customer-logos-v1__heading
        h2 You’ll be in good company
      .customer-logos-v1__logos
        .customer-logos-v1__logo(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/shell.svg")
            alt="Shell logo"
            itemprop="logo"
          )
        .customer-logos-v1__logo(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/zoom.svg")
            alt="Zoom logo"
            itemprop="logo"
          )
        .customer-logos-v1__logo(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/zapier.svg")
            alt="Zapier logo"
            itemprop="logo"
          )
        .customer-logos-v1__logo.customer-logos-v1__logo-chameleon(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/disney.svg")
            alt="Disney logo"
            itemprop="logo"
          )
        .customer-logos-v1__logo(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/intel.svg")
            alt="Intel logo"
            itemprop="logo"
          )
        .customer-logos-v1__logo(
          itemscope
          itemtype="https://schema.org/Organization"
        )
          img(
            src=require("@images/logos/twitch.svg")
            alt="Twitch logo"
            itemprop="logo"
          )
